<html>
	<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/css/admin-styles.css" />
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    <script src="/js/admin-js.js"></script>
        
		<title>Admin Homepage - Trang Quản Lí DLLN Bank</title>
	</head>
	
	<body>
        <%  
          function format_date(current_datetime){
              return current_datetime.getDate() + "/" + (current_datetime.getMonth() + 1) + "/" + current_datetime.getFullYear();
          }
        %>
        <div class="wrapper">
            <!-- header -->
            <%- include('../templates/admin_header'); -%>
            <div id="content">
                <!-- navbar -->
                <%- include('../templates/admin_navbar'); -%>
                <div class="row">
                  <div class="col-lg-9">
                    <form class="contact-form" action="/admin/account/tai-khoan-thanh-toan/them-moi" style="padding-top: 0px;" method="POST">
                        <div>
                            <h2 style="padding-bottom: 50px;">Thêm Tài Khoản Thanh Toán </h2>
                        </div>
                        <div class="container">


                            <div class="row">
                                <div class="col-lg-3 mt-5">
                                    <p>Mã Khách Hàng</p>
                                </div>
                                <div class="col-lg-9 mt-5 pr-4 pl-4">                  
                                  <input type="text" class="form-control" name="MaKhachHang">              
                                </div>
                            </div>
    
    
                             
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 mt-5">
                                            <p style="margin-left: -18px;" for="SavingsMoney">Số Tiền: </p>
                                        </div>
                                        <div class="col-lg-9 mt-5">
                                            <input type="number" class="form-control" name="money">
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 mt-3">
                                            <p style="margin-left: -18px;" >Đơn Vị: </p>
                                        </div>
                                        <div class="col-lg-9 mt-3">
                                            <div class="form-check ml-2">
                                                <input class="form-check-input" type="radio" name="donvi"
                                                     value="VND" checked
                                                    style="width:inherit; height: inherit;">
                                                <label class="form-check-label" >
                                                    VND
                                                </label>
                                            </div>
                                            <div class="form-check ml-2">
                                                <input class="form-check-input" type="radio" name="donvi"
                                                     value="USD" checked
                                                    style="width:inherit; height: inherit;">
                                                <label class="form-check-label" >
                                                    USD
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <p class="text-danger">
                            <b>
                                <% if(errors != "") { %> 
                                    &#9888; <%= errors %>
                                <% } %>
                            </b>
                        </p>

                        <button  class="btn btn-primary">Thêm Tài Khoản</button>
                        <a href="/admin/account/tai-khoan-thanh-toan" class="btn btn-danger">Hủy</a>

                    </form>
                    
                  </div>
                </div>
            </div>
        </div>
	</body>
</html>