<%- include('templates/header'); -%>
    <section class="hero-section" style="background: url('/img/hero-slider/1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="margin-top: 100px">
                    <form class="hero-form" action="/change-password" method="POST">
                        <input type="hidden" value="<%=id%>" name="id" />
                        <input type="password" placeholder="Password mới" name="password">
                        <button class="site-btn">Thay đổi password</button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="hs-text">
                        <h2>Vui Lòng Thay Đổi Password</h2>
                        <p>
                            tips: hãy dùng tài khoản của bạn để đăng nhập, vui lòng không chia sẻ
                            mật khẩu và thông tin đăng nhập với người khác
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
<!-- Hero Section end -->


<%- include('templates/footer'); -%>