<%- include('templates/header'); -%>
<section class="page-top-section set-bg" data-setbg="img/page-top-bg/4.jpg">
    <div class="container">
        <h2>Contact</h2>
        <nav class="site-breadcrumb">
            <a class="sb-item" href="/">Home</a>
            <span class="sb-item active">Contact</span>
        </nav>
    </div>
</section>
<!-- Page top Section end -->

<!-- Contact Section end -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Get in touch</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore mag na aliqua.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hime-naeos. Suspendisse potenti. </p>
                    <ul>
                        <li><i class="flaticon-032-placeholder"></i>227  Nguyễn Văn Cừ, Phường 4, Quận 5, HCMC</li>
                        <li><i class="flaticon-029-telephone-1"></i>+1 (603)535-4592</li>
                        <li><i class="flaticon-025-arroba"></i>ibhelp@youremail.com</li>
                        <li><i class="flaticon-038-wall-clock"></i>Everyday: 06:00 -22:00</li>
                    </ul>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Your E-mail">
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Your Message"></textarea>
                            <button class="site-btn">send message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6310428676957!2d106.6800684147143!3d10.762892262386629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f19554afa79%3A0x961af94a35c6f42!2zVHJ1bmcgdMOibSBUaW4gaOG7jWMgdHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puLCAyMjcgxJDGsOG7nW5nIE5ndXnhu4VuIFbEg24gQ-G7qywgUGjGsOG7nW5nIDQsIFF14bqtbiA1LCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1593316555195!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>
<!-- Contact Section end -->

<!-- Score Section end -->
<section class="score-section text-white set-bg" data-setbg="img/score-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <h2>Calculate my Score</h2>
                <h4>Check your credit reports as often as you want, it won't affect your scores.</h4>
                <a href="#" class="site-btn sb-big">show my score</a>
            </div>
        </div>
        <img src="img/hand.png" alt="" class="hand-img">
    </div>
</section>
<!-- Score Section end -->
<!-- Why Section end -->
<%- include('templates/footer'); -%>