<%- include('templates/header'); -%>
    <section class="hero-section" style="background: url('/img/hero-slider/1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="margin-top: 100px">
                    <form class="hero-form" action="/login/forgot-password" method="POST">
                        <input type="email" placeholder="Email Của bạn" name="email">
                        <% if(error != ""){ %>
                            <div class="alert alert-danger">
                                <strong>Danger!</strong><%= error %>
                            </div>
                        <% } %> 
                        
                        <button class="site-btn">Gửi</button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="hs-text">
                        <h2>Vui Lòng Thay Đổi Password</h2>
                        <p>
                            tips: hãy sử dụng email của chính bạn chúng tôi sẽ gởi cho bạn cách thức thay Đổi
                            mật khẩu qua email
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
<!-- Hero Section end -->


<%- include('templates/footer'); -%>