<%- include('../templates/header'); -%>

<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2 class="mt-2">Có gì đó không ổn</h2>
            <p>Xin Lỗi Vì Sự phiên nhiễu này nhưng trang bạn đang tìm kiếm không tồn tại</p>
            <a href="/">Về Trang Chủ</a>
        </div>
    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
        type="dabdfe4ffde5441d73ef52f3-text/javascript"></script>
    <script type="dabdfe4ffde5441d73ef52f3-text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="dabdfe4ffde5441d73ef52f3-|49" defer=""></script>
</body>

<%- include('../templates/footer'); -%>