<%- include('../templates/header'); -%>

<!-- Page top Section end -->

<!-- Loans Section end -->
<section class="loans-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/img/loans.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="loans-text">
                    <h2>Bạn cần phải xác nhận email để đăng kí tài khoản</h2>
                    <p>
                        theo chính sách của công ty chúng tôi,
                        thưc hiện xác thực cmnd
                    </p>
                    <ul>
                        <li>Đổi mật khẩu</li>
                        <li>Cập Nhật thông tin thành viên</li>
                        <li>Trở thành thành viên của chúng tôi</li>
                    </ul>
                    <p>Bạn có thể phải chờ ít nhất 24h để nhân viên xác thực giấy tờ</p>
                    <a href="#" class="site-btn">send again</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Loans Section end -->

<!-- Loans calculator Section  -->

<%- include('../templates/footer'); -%>