<%- include('../templates/header'); -%>

<!-- Page top Section end -->

<!-- Loans Section end -->
<section class="loans-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/img/loans.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="loans-text">
                    <h2>Bạn cần phải xác nhận email để đăng kí tài khoản</h2>
                    <p>
                        theo chính sách của công ty chúng tôi,
                        bạn cần phải xác nhận email trước khi muốn đăng kí tài khoản
                    </p>
                    <ul>
                        <li>đăng kí tài khoản</li>
                        <li>Xác Thực email</li>
                        <li>Đổi mật khẩu</li>
                        <li>Trở thành thành viên của chúng tôi</li>
                    </ul>
                    <p>Kiểm tra của bạn để xác nhận đăng kí</p>
                    <a href="#" class="site-btn">send again</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Loans Section end -->

<!-- Loans calculator Section  -->

<%- include('../templates/footer'); -%>